services:
  keycloak:
    # For production: use custom image with SPI baked in
    # build:
    #   context: ./keycloak
    #   args:
    #     SPI_VERSION: 0.0.1-SNAPSHOT
    #     GITHUB_REPO: your-org/auth
    # For development: use base image with local JAR mount
    image: quay.io/keycloak/keycloak:26.5.0
    container_name: keycloak
    ports:
      - "8088:8080"
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://host.docker.internal:5433/keycloak
      - KC_DB_USERNAME=postgres
      - KC_DB_PASSWORD=postgres
    volumes:
      # Development only: mount local JAR (comment out when using build)
      - ./keycloak-spi/build/libs/keycloak-user-storage-spi-0.0.1-SNAPSHOT.jar:/opt/keycloak/providers/keycloak-user-storage-spi.jar:ro
    command: start-dev