services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.5.0
    container_name: keycloak
    ports:
      - "8088:8080"
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://host.docker.internal:5433/keycloak
      - KC_DB_USERNAME=postgres
      - KC_DB_PASSWORD=postgres
    volumes:
      # Shared providers folder - populated by Drone CI build
      - keycloak-providers:/opt/keycloak/providers:ro
    command: start-dev

volumes:
  keycloak-providers:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /opt/keycloak-providers